.nav-container {
  height: 70px;
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid #e69410;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  height: 100%;
  padding: 10px 20px;
}
/* .menu {
  margin: 1rem;
} */
.menu-items {
  display: flex;
  list-style-type: none;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.login-btn {
  padding: 5px;
  border-radius: 10px;
  color: #e69410;
  border: 2px solid #e69410;
  margin-right: 10px;
  width: 100px;
  background-color: transparent;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
}

.login-btn:hover {
  background-color: #e69410;
  color: white;
}

.menu-link {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
